<h2>Profile Page</h2>

<p>Hello, 
<%= currentUser.name %>
</p>

<a href="/search">Search for a machine?</a>
<br>
<h3>
Favorite Machines:
<br>
<br>
<% machine.forEach(function(machine) { %>
  <a href='https://www.ipdb.org/machine.cgi?id=<%= machine.ipdb%>' target="_blank"><%= machine.name %> </a> 
  <form method="POST" action="/profile/ <%= machine.id %> /?_method=DELETE">
<button input type="submit" value="Destroy">Destroy the Machine!</button>
</form>
  <% }); %>
</h3>
<hr>
<h3>High Score Upload</h3>

<form enctype="multipart/form-data" action="profile/img" method="POST">
<input hidden type="text" name="name" value="<%= machine.name %>">
<input hidden type="text" name="ipdb" value="<%= machine.ipdb_id %>">
  <input type="file" name="myFile">
  <select name="machineId" required>
        <% machine.forEach(function (machine) { %>
            <option value="<%= machine.id %>"><%= machine.name %></option>
        <% }); %>
    </select><hr />
  <input type="submit">


</form>


<hr> 
<a href="/">Home</a>
<hr>
<audio controls autoplay loop>
  <source src="https://www.ipdb.org/files/966/Williams_1990_Funhouse_Jackpot_Tune.mp3" type="audio/mp3">
  <p>Your browser doesn't support HTML5 audio. Here is a <a href="https://www.ipdb.org/files/966/Williams_1990_Funhouse_Jackpot_Tune.mp3">link to the audio</a> instead.</p>
</audio>
