<h2><%=currentUser.name%>'s Favorite Machines and High Scores!</h2>
<hr>
<h3>
<a href="/search">Click me to add a favorite machine!</a>
</h3>
<br>
<h3>
Favorite Machines:
<br>
</h3>
<% machine.forEach(function(machine) { %>
<h3>
  <a href='https://www.ipdb.org/machine.cgi?id=<%= machine.ipdb%>' target="_blank"><%= machine.name %> </a> 
<a href="/profile/<%= machine.id %>/edit">EDIT THIS MACHINE</a>
</h3>
<form method="POST" action="/profile/ <%= machine.id %> /?_method=DELETE">
<div class= "btn">
<button input type="submit" value="Destroy">Destroy the Machine!</button>
</form>
</div>
  <% }); %>
<hr>
<h3>High Score Upload</h3>

<form enctype="multipart/form-data" action="profile/img" method="POST">
<input hidden type="text" name="name" value="<%= machine.name %>">
<input hidden type="text" name="ipdb" value="<%= machine.ipdb_id %>">
  <input type="file" name="myFile">
  <select name="machineId" required>
        <% machine.forEach(function (machine) { %>
            <option value="<%= machine.id %>"><%= machine.name %></option>
        <% }); %>
    </select>
  <input type="submit">
  </form>
<hr>


<% machImg.forEach(function(mach){ %>
    <img style="max-width: 100%;" src="<%= mach.cloudinaryUrl %>">
    <form method="POST" action="/profile/img/<%= mach.id %>/?_method=DELETE">
    <div class= "btn">
<button input type="submit" value="Destroy">Destroy the Picture!</button>
</form>
</div>
<% }); %>


  
<hr> 
<a href="/">Home</a>
<hr>
<audio controls autoplay loop>
  <source src="https://www.ipdb.org/files/966/Williams_1990_Funhouse_Jackpot_Tune.mp3" type="audio/mp3">
  <p>Your browser doesn't support HTML5 audio. Here is a <a href="https://www.ipdb.org/files/966/Williams_1990_Funhouse_Jackpot_Tune.mp3">link to the audio</a> instead.</p>
</audio>
